<div ng-if="focusGoal !== false" class="sidebar">
    <div ng-repeat="(key, goal) in goals | filter:inFocus">
        <eg-panel class="goal_report sidebar_panel"
                  ng-transclude>
            <header>
                <div class="panel-title-wrapper">
                    <div class="panel-title">Daily</div>
                    <div class="editor-controls eg-control-panel"></div>
                </div>
            </header>
            <eg-editor
                    class="panel-body"
                    placeholder="defaultPlaceholder"
                    model="goal"
                    ng-model="goal[day].report.description"
                    ng-change="save(goal[day].report)"
                    >
            </eg-editor>
        </eg-panel>

        <eg-panel class="goal_reason sidebar_panel"
                  ng-transclude>
            <header>
                <div class="panel-title-wrapper">
                    <div class="panel-title pull-left">Why</div>
                    <div class="editor-controls eg-control-panel"></div>
                </div>
            </header>
            <eg-editor
                    class="panel-body"
                    placeholder="defaultPlaceholder"
                    ng-model="goal.reason"
                    ng-change="save(goal)"
                    ></eg-editor>
        </eg-panel>

        <eg-panel class="goal_decomposition sidebar_panel"
                  ng-transclude>
            <header>
                <div class="panel-title-wrapper">
                    <div class="panel-title pull-left">Decomposition</div>
                    <div class="editor-controls eg-control-panel"></div>
                </div>
            </header>
            <eg-editor
                    class="panel-body"
                    placeholder="defaultPlaceholder"
                    ng-model="goal.decomposition"
                    ng-change="save(goal)"
                    ></eg-editor>

        </eg-panel>
        <eg-panel class="goal_comments sidebar_panel"
                  ng-transclude>
            <header>
                <div class="panel-title-wrapper">
                    <div class="panel-title pull-left">Comments</div>
                    <div class="editor-controls eg-control-panel"></div>
                </div>
            </header>
            <eg-editor
                    class="panel-body"
                    placeholder="defaultPlaceholder"
                    ng-model="goal.comments"
                    ng-change="save(goal)"
                    ></eg-editor>
        </eg-panel>
    </div>
</div>