<div class="{{html.modalClass}}">
    <div class="modal-header">
        <h4 class="modal-title">Goal Editing</h4>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label for="modalGoalTitle">Title</label>
                <textarea msd-elastic="\n\n"
                          type="text"
                          ng-model="goal.title"
                          class="form-control eg-form-control"
                          id="modalGoalTitle"
                          placeholder="Enter email"></textarea>
            </div>
            <div class="form-group">
                <label for="modalGoalCategory">Category</label>
                <select
                        class="eg-form-control"
                        ng-model="goal.fk_goal_category"
                        id="modalGoalCategory"
                        ng-options="cat.id as cat.name for cat in categories"
                        >
                        </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>