<div>
    <form name="articleForm" action="" novalidate ng-submit="submit()" role="form">
        <div class="form-group" eg-smart-errors>
            <span class="control-label">Email</span>
            <input name="email" class="form-control" placeholder="Email"
                   type="email" ng-model="article.email" ng-focus required ng-minlength="3"/>

            <div class="error-container hidden">
                <small class="help-block"
                       ng-show="articleForm.email.$error.required">
                    Your name is required.
                </small>
                <small class="help-block"
                       ng-show="articleForm.email.$error.minlength">
                    Your name is required to be at least 3 characters
                </small>
                <small class="help-block"
                       ng-show="articleForm.email.$error.maxlength">
                    Your name cannot be longer than 20 characters
                </small>
                <small class="help-block"
                       ng-show="articleForm.email.$error.email">
                    That is not a valid email. Please input a valid email.
                </small>
            </div>
        </div>

        <div class="form-group" eg-smart-errors>
            <p class="control-label">Username</p>
            <input name="username" class="form-control" type="text"
                   ng-model="article.username" ng-focus required ng-minlength="3"/>

            <div class="error-container hidden">
                <small class="help-block"
                       ng-show="articleForm.username.$error.required">
                    Your name is required.
                </small>
                <small class="help-block"
                       ng-show="articleForm.username.$error.minlength">
                    Your name is required to be at least 3 characters
                </small>
                <small class="help-block"
                       ng-show="articleForm.username.$error.maxlength">
                    Your name cannot be longer than 20 characters
                </small>
            </div>
        </div>


        <input type="submit" value="Submit" />
    </form>
</div>
